{% extends 'tenisowka_app/base.html' %}

{% block title %}
    {% block form_title %}{% endblock %}
{% endblock%}

{% block css %}
    {% block form_css %}{% endblock %}
{% endblock %}

{% block script %}
    {% block form_script %}{% endblock %}
    {% block form_confirm_delete_script %}{% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="col-sm-12 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>{% block form_header %}{% endblock %}</h3>
                        <form class="form-horizontal" action="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                            <div class="form-group">
                                <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                                <div class="col-sm-10">
                                    {{ field }}
                                </div>
                            </div>
                            {% endfor %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">
                                        {% block form_button %}{% endblock %}</button>
                                </div>
                            </div>
                        </form>
                        {% block form_delete %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
