{% extends 'tenisowka_app/base.html' %}

{% load staticfiles %}

{% block title %}Lista zawodnikow{% endblock title %}

{% block script %}
    <script src="{% static 'tenisowka_app/js/confirm-delete.js' %}" type="text/javascript" defer></script>
{% endblock %}

{% block content %}
    <h3>Lista zawodników:</h3>
    <ol>
        {% for player in player_list %}
        <li>
            <h4>{{ player.name }}</h4>
            <div>
            <a href="{% url 'player' player.id %}" class="btn btn-default btn-xs">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <form action="{% url 'update_player' player.id %}" style="display: inline;">
                <input type="hidden" name="player_id" value="{{ player.id }}">
                <button type="submit" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </form>
            <form action="{% url 'delete_player' player.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="player_id" value="{{ player.id }}">
                <button type="submit" class="btn btn-default btn-xs confirm-delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>
            </div>
        </li>
        {% endfor %}
    </ol>
{% endblock content %}