{% extends 'tenisowka_app/base.html' %}

{% load staticfiles %}

{% block title %}widok zawodnika{% endblock title %}

{% block script %}
    <script src="{% static 'tenisowka_app/js/confirm-delete.js' %}" type="text/javascript" defer></script>
{% endblock %}

{% block content %}
    <h4>{{ wydarzenie.nazwa }}</h4>
    <p>{{ wydarzenie.opis }}</p>
    <p>{{ wydarzenie.start }}</p>
    <p>{{ wydarzenie.koniec }}</p>
    <form action="{% url 'aktualizuj_wydarzenie' wydarzenie.id %}" style="display: inline;">
        <input type="hidden" name="wydarzenie_id" value="{{ wydarzenie.id }}">
        <button type="submit" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
    </form>
    <form action="{% url 'usun_wydarzenie' wydarzenie.id %}" method="post" style="display: inline;">
        {% csrf_token %}
        <input type="hidden" name="wydarzenie_id" value="{{ wydarzenie.id }}">
        <button type="submit" class="btn btn-default btn-sm confirm-delete">
            <span class="glyphicon glyphicon-trash"></span>
        </button>
    </form>
{% endblock content %}