{% extends 'tenisowka_app/base.html' %}
{% block title %}widok zawodnika{% endblock title %}


{% block content %}

<h4>Imię i nazwisko</h4>
<p>{{ zawodnik.imie }}</p>

<h4>Data urodzenia</h4>
<p>{{ zawodnik.data_urodzenia }}</p>

<h4>Adres</h4>
<p>{{ zawodnik.adres }}</p>

<h4>Data badania</h4>
<p>{{ zawodnik.data_badania }}</p>

<h4>Od ostaniego badania minęło:</h4>
<p>{{ zawodnik.badanie.czas.years }} lat {{zawodnik.badanie.czas.months}} miesiecy {{ zawodnik.badanie.czas.days }} dni</p>

<h4>Numer licencji</h4>
<p>{{ zawodnik.nr_licencji }}</p>

<h4>Zwycięstwa</h4>
<p>{{ zawodnik.performance.success }}</p>

<h4>Pregrane</h4>
<p>{{ zawodnik.performance.failure }}</p>

<h4>Wygrał(a) z:</h4>
{% for v,c in zawodnik.performance.win %}
<p>{{ v }} : {{ c }}</p>
{% empty %}
<p>Brak przeciwników</p>
{% endfor %}

<h4>Przegrał(a) z:</h4>
{% for v,c in zawodnik.performance.loss %}
<p>{{ v }} : {{ c }}</p>
{% empty %}
<p>Brak przeciwników</p>
{% endfor %}




<!--<div class="progress">-->
  <!--<div class="progress-bar progress-bar-success" role="progressbar" style="width:{{ success }}%">-->
    <!--Wygranych {{ success }}%-->
  <!--</div>-->
  <!--<div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{ failure }}%">-->
    <!--Przegranych {{ failure }}%-->
  <!--</div>-->
<!--</div>-->


{% endblock content %}