{% extends 'tenisowka_app/base.html' %}

{% load staticfiles %}

{% block title %}Lista zawodnikow{% endblock title %}

{% block script %}
    <script src="{% static 'tenisowka_app/js/confirm-delete.js' %}" type="text/javascript" defer></script>
{% endblock %}

{% block content %}
    <h3>Lista zawodników:</h3>
    <ol>
        {% for zawodnik in zawodnik_list %}
        <li>
            <h4>{{ zawodnik.imie }}</h4>
            <div>
            <a href="{% url 'zawodnik' zawodnik.id %}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-eye-open"></span>
            </a>
            <form action="{% url 'aktualizuj_zawodnika' zawodnik.id %}" style="display: inline;">
                <input type="hidden" name="zawodnik_id" value="{{ zawodnik.id }}">
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </form>
            <form action="{% url 'usun_zawodnika' zawodnik.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="zawodnik_id" value="{{ zawodnik.id }}">
                <button type="submit" class="btn btn-default btn-sm confirm-delete">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>
            </div>
        </li>
        {% endfor %}
    </ol>
{% endblock content %}